<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Data.Common.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Northwind"
         connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Northwind;Data Source=.\sqlexpress"
         providerName="System.Data.SqlClient" />
    <add name="NorthwindMySQL"
         connectionString="database=northwind;data source=localhost;user id=root"
         providerName="MySql.Data.MySqlClient" />
    <add name="NorthwindSqlCe"
         connectionString="Data Source=c:\projects\repository\dbschema\data.common\test databases\northwind.sdf"
         providerName="System.Data.SqlServerCe.3.5"/>
    <add name="NorthwindPostgres"
         connectionString="HOST=localhost;DATABASE=Northwind;USER ID=postgres;PASSWORD=postgres;ENLIST=true"
         providerName="Npgsql" />
    <add name="NorthwindSQLite"
         connectionString="Data Source=c:\projects\repository\dbschema\data.common\test databases\northwind.db3"
         providerName="System.Data.SQLite" />
    <add name="NorthwindOracle"
         connectionString="Data Source=localhost;Persist Security Info=True;User ID=northwind;Password=northwind;Unicode=True"
         providerName="System.Data.OracleClient" />
    <add name="NorthwindOracleClient"
         connectionString="data source=localhost;persist security info=true;user id=northwind;User ID=northwind;Password=northwind;"
         providerName="Oracle.DataAccess.Client"/>
    <add name="NorthwindOleDbAccess"
         connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source='C:\Projects\Repository\DbSchema\Data.Common\Test Databases\Northwind.mdb'"
         providerName="System.Data.OleDb" />
    <add name="NorthwindVistaDB"
         connectionString="Data Source=C:\Projects\Repository\DbSchema\Data.Common\Test Databases\Northwind.vdb3"
         providerName="VistaDB.NET20"/>
  </connectionStrings>
  <applicationSettings>
    <Data.Common.Tests.Properties.Settings>
      <setting name="ConnectionName" serializeAs="String">
        <value>Northwind</value>
      </setting>
    </Data.Common.Tests.Properties.Settings>
  </applicationSettings>
</configuration>