<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Northwind"
         connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Northwind;Data Source=.\sqlexpress"
         providerName="System.Data.SqlClient" />
    <add name="NorthwindMySQL"
         connectionString="database=northwind;data source=localhost;user id=root"
         providerName="MySql.Data.MySqlClient" />
    <add name="NorthwindSqlCe"
     connectionString="Data Source=c:\projects\repository\subsonicthree\db\northwind.sdf"
     providerName="System.Data.SqlServerCe.3.5"/>
  </connectionStrings>
</configuration>