<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
  </configSections>
  <appSettings/>
  <connectionStrings>
    <add name="Northwind"
         connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Northwind;Data Source=.\sqlexpress"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <SubSonicService defaultProvider="Northwind" >
    <providers>
      <clear/>
      <add name="Northwind" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="Northwind" generatedNamespace="Northwind" />
    </providers>
  </SubSonicService>
</configuration>